.error-page {
    text-align: center;
    padding-top: 20px;
    
    h1 {
        line-height: 40px;
        margin: 30px 0 50px 0;
    }
    
    p {
        text-wrap: balance;
        margin-bottom: 30px;
    }
}